#about {
  grid-area: about;
  gap: 1em;

  max-width: 80rem;
  margin-inline: auto;
  padding-inline: 1rem;

  & > * {
    flex: 1;
  }
  p + p {
    margin-top: 1em;
  }
  @media (min-width: 40rem) {
    columns: 2 auto;
  }
  @media (min-width: 60rem) {
    columns: 3 auto;
  }
  p {
    break-inside: avoid;
  }
  img {
    break-after: column;
  }
}
