.curl {
  $rotate: 3deg;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: "";

    isolation: isolate;
    inset: calc(100% - 1rem) 0.5rem 1px;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 30%);
    background: rebeccapurple;
    z-index: -1;
  }
  &::before {
    transform: rotate($rotate);
    transform-origin: bottom right;
  }
  &::after {
    transform: rotate(-$rotate);
    transform-origin: bottom left;
  }
}
