label[for="website"],
input#website {
  display: none;
}
#contact {
  display: flex;
  gap: 1rem;
  align-items: center;

  form {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: auto 1fr;
  }
  button {
    grid-column: 1/3;
  }
}
