#hero {
  display: flex;
  padding: 1em;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(
    to bottom,
    // var(--color-pop-dark),
    var(--color-pop),
    var(--color-pop-light),
    var(--color-white)
  );

  @media (min-width: 40rem) {
    flex-direction: row;
    align-items: flex-start;
  }

  & > div {
    flex: 1;
  }

  p {
    padding: 1rem;

    font: normal clamp(3em, 6vw + 1rem, 5em) var(--ff-hero);
    text-align: center;
  }

  img {
    border: 0;
    margin: 0 auto;
  }
}
