#nav {
  display: none;
  grid-area: nav;
  ul {
    display: flex;

    padding: 1rem 0;
  }

  li {
    display: block;
    flex: 1;
  }

  a {
    display: inline-block;

    background-image: linear-gradient(
      to top left,
      var(--color-pop-light),
      var(--color-pop-dark),
      var(--color-pop-light)
    );
    background-position: 0;
    background-size: 200%;
    border-radius: 1em;
    border: 2px solid var(--color-pop);
    margin-inline: 1em;
    padding: 1em 2em;

    // text-shadow: 1px 1px 1px var(--poplight);
    color: var(--color-white);
    font-family: var(--font-button);
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: none;

    transition: all 200ms ease-in-out;

    &:hover {
      background-color: var(--color-pop);
      background-image: linear-gradient(
        to top left,
        var(--color-pop-dark),
        var(--color-pop-light),
        var(--color-pop-dark)
      );
      background-position: 100%;

      color: var(--color-black);
    }
  }
}
