#about {
  max-width: 80rem;
  margin-inline: auto;
}
.cols {
  --_gap: var(--gap, var(--size-5, 1rem));
  gap: var(--_gap);
  padding-inline: var(--_gap);
  p {
    break-inside: avoid;
  }

  img {
    break-after: column;
  }
  @media (min-width: 40rem) {
    columns: 2 auto;
  }
  @media (min-width: 60rem) {
    columns: 3 auto;
  }
}
