.cards {
  --_spacer: var(--spacer, var(--size-5, 1rem));
  display: flex;
  flex-wrap: nowrap;
  gap: var(--_spacer);

  margin: var(--_spacer) auto 0;
  padding: var(--_spacer);

  overflow: auto;
}

.card {
  flex: 1;

  min-width: 15rem;
  max-width: 30rem;
  margin: var(--_spacer) auto 0;
  padding: var(--_spacer);
  border: 1px solid var(--color-pop);
  border-radius: var(--bdr-rds);
  background: var(--color-pop-light);

  img {
    aspect-ratio: 1/1;
    object-fit: cover;

    border-radius: var(--bdr-rds, 1rem);
    box-shadow: 1em 1em 1em rgba(0, 0, 0, 15%);
    transition: transform 300ms ease-in-out;

    +img {
      display: none;
    }
  }

  * {
    margin: 0;
  }

  *+* {
    margin-top: var(--size-5, 1rem);
  }
}

// .card:hover img {
//   aspect-ratio: auto;
// }
// .card:hover img + img {
//   display: block;
// }