#header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 1rem 0;
  background-color: var(--color-black);
  color: var(--color-pop);

  @media (min-width: 40rem) {
    flex-direction: row;
  }

  h1 {
    margin-bottom: -1rem;

    @media (min-width: 40rem) {
      flex-direction: row;
    }
  }

  svg {
    height: clamp(5rem, 50vw + 1rem, 20rem);

    // height: clamp(2rem, 15vw + 1rem, 6rem);
    @media (min-width: 40rem) {
      height: clamp(6rem, 15vw + 1rem, 8rem);
    }
  }

  nav {

    ul {
      display: flex;
      gap: 2rem;
      padding: 1rem 0;
    }

    li {
      flex: 1 1 auto;
      list-style-type: none;
    }
  }
}