@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Comfortaa&family=Ole&display=swap");

:root {
  // Set HSL for brand color
  --color-hue: 0;
  --color-sat: 50%;
  --color-lightness: 80%;
  --color-hue-sat: var(--color-hue) var(--color-sat);

  // Brand color and variants
  --color-brand-1: hsl(var(--color-hue-sat) 10%);
  --color-brand-2: hsl(var(--color-hue-sat) 20%);
  --color-brand-3: hsl(var(--color-hue-sat) 30%);
  --color-brand-4: hsl(var(--color-hue-sat) 40%);
  --color-brand-5: hsl(var(--color-hue-sat) 50%);
  --color-brand-6: hsl(var(--color-hue-sat) 60%);
  --color-brand-7: hsl(var(--color-hue-sat) 70%);
  --color-brand-8: hsl(var(--color-hue-sat) 80%);
  --color-brand-9: hsl(var(--color-hue-sat) 90%);

  // Previous, leaving to avoid breaking shit
  --color-pop: var(--color-brand-8);
  --color-pop-light: var(--color-brand-9);
  --color-pop-dark: var(--color-brand-7);
  --color-pop-xdark: var(--color-brand-4);

  // Neutral colors
  --color-white: hsl(var(--color-hue-sat) 95%);
  --color-black: hsl(var(--color-hue-sat) 5%);
  --color-gray: hsl(0, 0%, 50%);

  // Overrideable text and bg colors
  --color-background: var(--color-white);
  --color-text: var(--color-black);

  // Font families used
  --ff-script: "Ole", cursive;
  --ff-futuristic: "Comfortaa", cursive;
  --ff-70s: "Berkshire Swash", cursive;

  // Where to use them
  --ff-logo: var(--ff-70s);
  --ff-hero: var(--ff-70s);
  --ff-button: var(--ff-futuristic);
  --ff-card-title: var(--ff-script);

  scroll-behavior: smooth;
}
