---
// vim: fdm=marker fmr={,}
---

$--size-col: 60rem;
:root {
  --color-white: hsl(350, 100%, 96%);
  --color-black: hsl(0, 0%, 0%);
  --color-gray: hsl(0, 0%, 51%);
  --color-pop: hsl(350, 100%, 78%);
  --color-pop-light: hsl(350, 100%, 88%);
  --color-pop-dark: hsl(350, 100%, 68%);

  --color-background: var(--color-white);
  --color-text: var(--color-black);

  --font-fancy: "Ole", cursive;
  --font-button: "Comfortaa", cursive;

  --size-col: #{$--size-col};
}
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Ole&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* + * {
  margin-top: 1em;
}
body {
  color: var(--color-text);
  background-color: var(--color-background);
  line-height: 1.5;
  max-width: calc(var(--size-col) * 1.75);
  margin-inline: auto;
}
header {
  grid-area: header;
  h1 {
    margin: 0em auto 2rem;
    text-align: center;
    a {
      font: normal 6rem var(--font-fancy);
      color: var(--color-black);
      text-decoration: none;
    }
  }
}
nav {
  grid-area: nav;
  display: none;
  ul {
    display: flex;
    padding: 1rem 0;
  }
  li {
    display: block;
    flex: 1;
  }
  a {
    display: inline-block;
    margin-inline: 1em;
    padding: 1em 2em;
    font-family: var(--font-button);
    font-size: 1.2em;
    font-weight: 600;
    color: var(--color-white);
    background-size: 200%;
    background-image: linear-gradient(
      to top left,
      var(--color-pop-light),
      var(--color-pop-dark),
      var(--color-pop-light)
    );
    background-position: 0;
    // text-shadow: 1px 1px 1px var(--poplight);
    text-decoration: none;
    border: 2px solid var(--color-pop);
    border-radius: 1em;
    transition: all 200ms ease-in-out;
    &:hover {
      background-image: linear-gradient(
        to top left,
        var(--color-pop-dark),
        var(--color-pop-light),
        var(--color-pop-dark)
      );
      background-position: 100%;
      background-color: var(--color-pop);
      color: var(--color-black);
    }
  }
}
main {
  grid-area: main;
}
aside {
  grid-area: sidebar;
}
footer {
  grid-area: footer;
}
a {
  color: var(--color-pop);
}
img {
  display: inline-block;
  max-width: 100%;
  max-height: 30vh;
  border: 1px solid var(--color-text);
}
strong em {
  display: none;
}
strong:hover em {
  display: block;
}
section {
  clear: both;
  max-width: var(--size-col);
  margin-inline: auto;
  padding-inline: 1em;
  position: relative;
  h2 {
    clear: both;
    text-align: center;
    font: 3rem var(--font-fancy);
  }
  img {
    float: left;
    margin: 1em;
  }
  &:nth-of-type(2n) {
    img {
      float: right;
    }
  }
}
@media (min-width: $--size-col) {
  section {
    margin-inline: 1em;
    &:nth-of-type(2n) {
      margin-inline: auto 1em;
    }
    h2 {
      display: inline-block;
    }
  }
}
