<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% if title %} {{ title }} {% else %} TnT Cakery {% endif %}</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/script.js" defer></script>
  </head>
  <body class="bg-gradient">
    <h1 id="logo" class="logo | bg-black">
      <a href="/">
        <img src="/images/logo.svg" alt="TnT Cakery logo" />
      </a>
    </h1>
    <nav id="mainnav" class="mainnav | flex-2 | bg-black">
      <ul class="flex">
        <li><a href="/#cakes">Gallery</a></li>
        <li><a href="/#testimonials">Testimonials</a></li>
        <li><a href="/#contact">Contact</a></li>
        <li><a href="/about">About me</a></li>
      </ul>
    </nav>

    <main>{{ content }}</main>

    <section id="contact" class="contact | flex curl | align-center">
      <p>
        Contact me about an order at:<br />
        (210) 605-1616
        <br />
        <a href="tel:2106051616" class="button">Call now</a>
      </p>

      <div class="ff-decor fs-9 text-center">Or</div>

      <form
        action="/emailsuccess"
        name="contact"
        id="order"
        netlify
        netlify-honeypot="website"
        class="contactform | flex-2"
      >
        <input type="hidden" name="subject" value="Cake inquiry" />

        <label for="name"> Name </label>
        <input type="text" name="name" id="name" required />

        <label for="email"> Email </label>
        <input type="email" name="email" id="email" required />

        <label for="phone"> Phone</label>
        <input type="tel" name="phone" id="phone" required />

        <label for="message"> What do you need? </label>
        <textarea name="message" id="message" required>
Briefly describe the cake of your dreams. Flavor, size, shape, decoration style, how many people you are serving.</textarea
        >

        <label for="website" data-hide> Leave this blank </label>
        <input type="text" name="website" id="website" data-hide />

        <label for="date"> When do you need it? </label>
        <input type="date" name="date" id="date" />
        <button type="submit" id="submit" class="button | span-2">
          Send message
        </button>
      </form>
    </section>

    <footer class="footer | pad text-center">
      <p>&copy;2022 Tina Orosco, TnT Cakery</p>
      <!-- Design and code by Josh Surber, http://surber.us -->
    </footer>
  </body>
</html>
