#homepage {
  max-width: 70rem;
  margin-inline: auto;
  section {
    display: grid;
    gap: 1rem;
    grid-template: "h2" "img" "p";

    max-width: 40rem;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid var(--color-pop);
    border-radius: 1rem;
    background: var(--color-pop-light);

    h2 {
      grid-area: h2;

      text-align: center;
      font: clamp(3rem, 10vw, 4rem) var(--font-fancy);
    }
    p {
      grid-area: p;
    }
    img {
      grid-area: img;
      align-self: center;

      border-radius: 1rem;
      z-index: 1;

      transition: transform 300ms ease-in-out;
    }
    @media (min-width: 40rem) {
      grid-template:
        "img h2"
        "img p"
        / 1fr 3fr;
      &:nth-of-type(2n) {
        grid-template:
          "h2 img"
          "p img"
          / 3fr 1fr;
      }
      img:hover {
        border-radius: 0;
        transform: scale(1.5) rotate(0);
      }
    }
    @media (min-width: 70rem) {
      // transform: translatex(-3vw);
      margin-inline: 1rem auto;
      img {
        transform: rotate(-3deg);
      }
      &:nth-of-type(2n) {
        // transform: translateX(3vw);
        margin-inline: auto 1rem;
        img {
          transform: rotate(3deg);
        }
      }
    }
    & + section {
      margin-top: 2rem;
    }
  }
}

#homepage {
  z-index: 1;
  section {
    position: relative;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 25%);

    &::before,
    &::after {
      position: absolute;
      content: "";

      inset: 90% 1rem 1px;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 50%);
      z-index: -1;
    }
    &::before {
      transform: rotate(3deg);
      transform-origin: bottom right;
    }
    &::after {
      transform: rotate(-3deg);
      transform-origin: bottom left;
    }
  }
}
