<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>
      {%if page.title%} {{page.title}} {%else%} Cakes by Tina {%endif%}
    </title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header><h1>Cakes by Tina</h1></header>
    <nav>
      <ul>
        <li><a href="index.html">home</a></li>
        <li><a href="birthday.html">birthday</a></li>
        <li><a href="wedding.html">wedding</a></li>
        <li><a href="process.html">process</a></li>
      </ul>
    </nav>
    <main>{{ page.title }}{{content}}</main>
    <!-- <aside></aside> -->
    <!-- <footer></footer> -->
  </body>
</html>
